//
//  WWD See.xcconfig
//  WWD See
//
//  Created by Michael Skiba on 08/04/2025.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

// Deployment

DEVELOPMENT_ASSET_PATHS = "WWDC Loader/Preview Content"

// Packaging

PRODUCT_BUNDLE_IDENTIFIER = com.atelierclockwork.WWDC-Loader

// Signing

CODE_SIGN_ENTITLEMENTS = WWDC Loader/Content/WWDC_Loader.entitlements

// Versioning

CURRENT_PROJECT_VERSION = 1
MARKETING_VERSION = 1.0

